name: Update AutoFirma Trusted Providers

on:
  schedule:
    - cron: "0 4 * * 2,4,6"  # Tuesday, Thursday, Saturday at 05:00 CET / 06:00 CEST
  workflow_dispatch:
  repository_dispatch:

jobs:
  download_autofirma_trusted_providers:
    name: Download AutoFirma Trusted Provider List
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install Nix
        uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # v31.8.3

      - name: Download AutoFirma Trusted Providers
        run: |
          nix develop --accept-flake-config --command download-autofirma-trusted-providers > nix/autofirma/truststore/prestadores/providers.json

      - name: Create Pull Request for the new trusted providers file
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          branch: update/autofirma-trusted-providers
          base: main
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          delete-branch: true
          labels: |
            security
            merge-queue
          commit-message: 'update: AutoFirma trusted providers'
          title: "Update Trusted Providers List for autofirma-nix"
          body: |
            This PR updates the JSON file of trusted providers based on the latest official information. For reference, the human-readable PDF is available at: [PAe aFirma Anexo PSC](http://administracionelectronica.gob.es/PAe/aFirma-Anexo-PSC).  

            #### Review Tasks:  
            1. Verify the updated list aligns with the official source.  
            2. For new providers, add their CA download page and CIF to `nix/autofirma/truststore/prestadores/CAs_fetch_links.json`.  
            3. For removed providers, clean up related files in `nix/autofirma/truststore/prestadores/CAs-by-provider/`.  

            Thank you for reviewing!
            
          add-paths: |
            nix/autofirma/truststore/prestadores/providers.json
